{% extends "layout.tmpl" %}

{% block title %}
  {{school.name}}
{% endblock %}

{% block content %}
  <h1>{{school.name}}</h1>

  <ul>
    {% for event in school.events %}
      <li>{{event.date|datetime_format}}: {{event.group}} ({{event.course}}):
          {{event.reason}}</li>
    {% endfor %}
  </ul>
{% endblock %}




