{% extends "layout.tmpl" %}

{% block title %}
  {{school.name}}
{% endblock %}

{% block content %}
  <h1>{{school.name}}</h1>
  <p>
    <a href="{{ url_for('report', school=school.id) }}" class="btn
  success">Fehlstunden eintragen</a>
  </p>
  <ul>
    {% for event in school.events %}
      <li>{{event.date|datetime_format}}: {{event.group}} ({{event.course}}):
          {{event.reason}} ({{event.reports.count()}} Bericht)</li>
    {% endfor %}
  </ul>
{% endblock %}




